<!DOCTYPE html>
<html>
<body>

<h2>Campus Marketplace — Products</h2>

<form action="/ui/products" method="post">
    Name: <input name="name"><br>
    Description: <input name="description"><br>
    Price: <input name="price"><br>
    <button type="submit">Add Product</button>
</form>

<hr>

<ul>
    <li th:each="p : ${products}">
        [[${p.id}]] - [[${p.name}]] - $[[${p.price}]]
    </li>
</ul>

<br><br>


<a href="/ui/" style="
    display:inline-block;
    background:#444;
    color:white;
    padding:14px 22px;
    border-radius:10px;
    font-weight:bold;
    text-decoration:none;
    font-size:16px;">
    ⬅ Back to Home
</a>

</body>
</html>
